h1 > img.logo {
    width: 50px;
    height: 50px;
}

.txt-green {
    color: #006747;
}

p.description {
    max-width: 70vw;
}

div.scroll-wrapper {
    overflow-x: scroll;
    overflow-y: hidden;
    white-space: nowrap;
    background-color: var(--background);
}

div.scroll-wrapper > div.card {
    display: inline-block;
    background-color: var(--background-alt);
    text-align: center;
}

div.card > .card-title {
    color: #000000;
    font-weight: bold;
    margin: auto;
}

div.card > .card-img {
    height: 60%;
    max-width: 80%;
    min-width: 128px;
    margin: auto;
}

div.card > .card-cont {
    color: #000000;
    margin: auto;
}

.search-box{
  width: fit-content;
  height: fit-content;
  position: relative;
}
.input-search{
  height: 50px;
  width: 50px;
  border-style: none;
  padding: 10px;
  font-size: 18px;
  letter-spacing: 2px;
  outline: none;
  border-radius: 25px;
  transition: all .5s ease-in-out;
  background-color: #CFC493;
  padding-right: 40px;
  color:#fff;
}
.input-search::placeholder{
  color:#CFC493;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 100;
}
.btn-search{
  width: 50px;
  height: 50px;
  border-style: none;
  font-size: 20px;
  font-weight: bold;
  outline: none;
  cursor: pointer;
  border-radius: 50%;
  position: absolute;
  right: 0px;
  color:#ffffff ;
  background-color:transparent;
  pointer-events: painted;  
}
.btn-search:focus ~ .input-search{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms #CFC493;
}
.input-search:focus{
  width: 300px;
  border-radius: 0px;
  background-color: transparent;
  border-bottom:1px solid rgba(255,255,255,.5);
  transition: all 500ms #CFC493;
}